Notification/src/main/resources/wsdl/NotificationService.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<definitions name="NotificationService"
             targetNamespace="http://www.healthcare.com/ws/NotificationService"
             xmlns="http://schemas.xmlsoap.org/wsdl/"
             xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
             xmlns:xs="http://www.w3.org/2001/XMLSchema"
             xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
             xmlns:tns="http://www.healthcare.com/ws/NotificationService">

    <types>
        <xs:schema>
        <xs:import namespace="http://www.healthcare.com/ws/NotificationService" schemaLocation="../schemas/NotificationServiceSchema.xsd"/>
        </xs:schema>
    </types>

    <message name="notificationFault">
        <part name="params" element="tns:notificationFault"/>
    </message>

    <message name="sendNotificationRequestMsg">
        <part name="params" element="tns:sendNotificationRequest"/>
    </message>
    <message name="sendNotificationResponseMsg">
        <part name="params" element="tns:sendNotificationResponse"/>
    </message>

    <message name="getNotificationsRequestMsg">
        <part name="params" element="tns:getNotificationsRequest"/>
    </message>
    <message name="getNotificationsResponseMsg">
        <part name="params" element="tns:getNotificationsResponse"/>
    </message>

    <message name="updateNotificationRequestMsg">
        <part name="params" element="tns:updateNotificationRequest"/>
    </message>
    <message name="updateNotificationResponseMsg">
        <part name="params" element="tns:updateNotificationResponse"/>
    </message>

    <portType name="NotificationServicePortType">
        <operation name="sendNotification">
            <input message="tns:sendNotificationRequestMsg"/>
            <output message="tns:sendNotificationResponseMsg"/>
            <fault name="fault" message="tns:notificationFault"/>
        </operation>
        <operation name="getNotifications">
            <input message="tns:getNotificationsRequestMsg"/>
            <output message="tns:getNotificationsResponseMsg"/>
            <fault name="fault" message="tns:notificationFault"/>
        </operation>
        <operation name="updateNotification">
            <input message="tns:updateNotificationRequestMsg"/>
            <output message="tns:updateNotificationResponseMsg"/>
            <fault name="fault" message="tns:notificationFault"/>
        </operation>
    </portType>

    <binding name="notificationServiceSOAPBinding" type="tns:NotificationServicePortType">
        <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
        <operation name="sendNotification">
            <soap:operation soapAction="sendNotification"/>
            <input>
                <soap:body use="literal"/>
            </input>
            <output>
                <soap:body use="literal"/>
            </output>
            <fault name="fault">
                <soap:fault name="fault" use="literal"/>
            </fault>
        </operation>
        <operation name="getNotifications">
            <soap:operation soapAction="getNotifications"/>
            <input>
                <soap:body use="literal"/>
            </input>
            <output>
                <soap:body use="literal"/>
            </output>
            <fault name="fault">
                <soap:fault name="fault" use="literal"/>
            </fault>
        </operation>
        <operation name="updateNotification">
            <soap:operation soapAction="updateNotification"/>
            <input>
                <soap:body use="literal"/>
            </input>
            <output>
                <soap:body use="literal"/>
            </output>
            <fault name="fault">
                <soap:fault name="fault" use="literal"/>
            </fault>
        </operation>
    </binding>
    <service name="NotificationService">
        <port name="NotificationServicePort" binding="tns:notificationServiceSOAPBinding">
            <soap:address location="http://localhost:8085/wsdlfirst/notificationService"/>
        </port>
    </service>
</definitions>
